<?xml version="1.0"?>
<configuration>
  <!--Uncomment this to enable writing trace to file-->
  <!--
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="TextTraceListener"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="C:\Trace.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics> -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
