<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program files -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerDir" Name="$(var.Manufacturer)">
          <Directory Id="ProductDir" Name="$(var.ProductName)">
            <Directory Id="INSTALLLOCATION" Name="$(var.VersionName)">
              <Directory Id="StreamsDir" Name="Streams">
                <Directory Id="JpegDir" Name="Jpeg"/>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <!-- Program menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.Manufacturer)"/>
      </Directory>
      <!-- Application data -->
      <Directory Id="AppDataFolder">
        <Directory Id="AppDataManDir" Name="$(var.Manufacturer)">
          <Directory Id="AppDataProductDir" Name="$(var.ProductName)">
            <!--<Directory Id="AppDataVersionDir" Name="$(var.VersionName)"/>-->  
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <DirectoryRef Id="INSTALLLOCATION">
      <!-- Executables -->
      <Component Id="c_TestTool.exe" Guid="{4E4BAC14-CE89-4d56-95A7-70EC43CDA6EF}">
        <File Id="f_TestTool.exe" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.exe"/>
      </Component>
      <Component Id="c_TestTool.exe.config" Guid="{490BB219-37C2-4b14-B106-DBB4AA030D13}">
        <File Id="f_TestTool.exe.config" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.exe.config"/>
      </Component>
      <Component Id="c_TestTool.HttpTransport.dll" Guid="{572579CE-18C6-47e6-951D-056FACCAC311}">
        <File Id="f_TestTool.HttpTransport.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.HttpTransport.dll"/>
      </Component>
      <Component Id="c_TestTool.HttpTransport.Interfaces.dll" Guid="{04F09F01-DAF9-4373-B877-5DB400F02D03}">
        <File Id="f_TestTool.HttpTransport.Interfaces.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.HttpTransport.Interfaces.dll"/>
      </Component>
      <Component Id="c_TestTool.Tests.Common.dll" Guid="{43804D3A-5E85-495b-9AEE-4276C0B36925}">
        <File Id="f_TestTool.Tests.Common.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.Tests.Common.dll"/>
      </Component>
      <Component Id="c_TestTool.Tests.Definitions.dll" Guid="{A2A3296E-5EF9-4c11-A706-15103BF297E6}">
        <File Id="f_TestTool.Tests.Definitions.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.Tests.Definitions.dll"/>
      </Component>
      <Component Id="c_TestTool.Tests.Engine.dll" Guid="{45E39042-1DB3-4670-866A-ECC142041247}">
        <File Id="f_TestTool.Tests.Engine.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.Tests.Engine.dll"/>
      </Component>
      <Component Id="c_TestTool.Tests.Engine.Base.dll" Guid="{DE78CE18-B350-40f8-902B-6A97E29C7779}">
        <File Id="f_TestTool.Tests.Engine.Base.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.Tests.Engine.Base.dll"/>
      </Component>
      <Component Id="c_TestTool.Tests.Proxies.dll" Guid="{6E85C9E9-3D5E-4b14-A511-966071165774}">
        <File Id="f_TestTool.Tests.Proxies.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.Tests.Proxies.dll"/>
      </Component>
      <Component Id="c_TestTool.Tests.TestCases.dll" Guid="{B9E69BC3-BAEC-4e42-83BF-6F884313547F}">
        <File Id="f_TestTool.Tests.TestCases.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)TestTool.Tests.TestCases.dll"/>
      </Component>
      <Component Id="c_Interop.QuartzTypeLib.dll" Guid="{96DAAB91-F927-4cc1-9AE2-28D7B60F43D5}">
        <File Id="f_Interop.QuartzTypeLib.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)Interop.QuartzTypeLib.dll"/>
      </Component>
      <Component Id="c_itextsharp.dll" Guid="{109A86A5-3320-474d-8294-CD95E8D75A37}">
        <File Id="f_itextsharp.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)itextsharp.dll"/>
      </Component>
      <!--<Component Id="c_BouncyCastle.Crypto.dll" Guid="{998770D5-28CC-47F2-8B11-3AAB87185F69}">
        <File Id="f_BouncyCastle.Crypto.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)BouncyCastle.Crypto.dll"/>
      </Component>-->
      <Component Id="c_ONVIFRTSPFilter.dll" Guid="{FDE187AC-44B4-4b47-BB71-C518DB4EFC90}">
        <File Id="f_ONVIFRTSPFilter.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)ONVIFRTSPFilter.dll"/>
      </Component>
      <Component Id="c_RTSPSimulator.dll" Guid="{9430B8FF-F216-466d-9193-056EBBCBB819}">
        <File Id="f_RTSPSimulator.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)RTSPSimulator.dll"/>
      </Component>
      <Component Id="c_onvifrtsp.dll" Guid="{DB2D5261-1D64-46c4-A201-C4DA5F44F636}">
        <File Id="f_onvifrtsp.dll" KeyPath="yes" Source="$(var.TestTool.GUI.TargetDir)onvifrtsp.dll" SelfRegCost="0"/>
      </Component>

      <!-- Documents -->
      <Component Id="c_ONVIF_Device_Test_Tool_Help.chm" Guid="{13BCB667-AA68-471e-A927-A9F4F905CF63}">
        <File Id="f_ONVIF_Device_Test_Tool_Help.chm" KeyPath="yes" Source="Files\ONVIF Device Test Tool Help.chm"/>
      </Component>
      <Component Id="c_License.rtf" Guid="{C846C24D-D728-4cb3-9D03-353641AD8A58}">
        <File Id="f_License.rtf" KeyPath="yes" Source="Files\License.rtf"/>
      </Component>
      <Component Id="c_readme.rtf" Guid="{0727AD60-A759-4c0b-B4A7-D73845B9091F}">
        <File Id="f_readme.rtf" KeyPath="yes" Source="Files\readme.rtf"/>
      </Component>
      <Component Id="c_BouncyCastle.rtf" Guid="{8F34C8BA-1060-46B9-9342-0AD817C0A593}">
        <File Id="f_BouncyCastle.rtf" KeyPath="yes" Source="Files\BouncyCastle.rtf"/>
      </Component>
      <!-- Stuff -->
      <Component Id="c_test.aac" Guid="{ED5EB758-8AA0-4e5e-BB54-25798B727DD7}">
        <File Id="f_test.aac" KeyPath="yes" Source="Files\test.aac"/>
      </Component>
      <Component Id="c_test.711" Guid="{C2666103-DA33-405e-BB34-8F19D6CBD3A3}">
        <File Id="f_test.711" KeyPath="yes" Source="Files\test.711"/>
      </Component>
      <Component Id="c_video_480x360_fps30.264" Guid="{824D571A-90CC-4833-9198-4A6B90010B23}">
        <File Id="f_video_480x360_fps30.264" KeyPath="yes" Source="Files\video_480x360_fps30.264"/>
      </Component>
      <Component Id="c_video_480x360_fps30.m4e" Guid="{370F4EEF-113F-4d6d-A6BC-DBA807E380C0}">
        <File Id="f_video_480x360_fps30.m4e" KeyPath="yes" Source="Files\video_480x360_fps30.m4e"/>
      </Component>
      <Component Id="c_video_640x480_fps15.264" Guid="{793B92A3-DE13-467e-820C-BFE58BB041F6}">
        <File Id="f_video_640x480_fps15.264" KeyPath="yes" Source="Files\video_640x480_fps15.264"/>
      </Component>
      <Component Id="c_video_640x480_fps15.m4e" Guid="{2C16E536-5B42-41b8-A099-C1BCB689BB74}">
        <File Id="f_video_640x480_fps15.m4e" KeyPath="yes" Source="Files\video_640x480_fps15.m4e"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <!-- Merged nodules -->
      <Merge Id="m_microsoft_vc90_debugcrt_x86.msm" 
             SourceFile="$(env.ProgramFiles)\Common Files\Merge Modules\microsoft_vc90_debugcrt_x86.msm"
             Language="1033" DiskId="1"/>
      <Merge Id="m_policy_9_0_Microsoft_VC90_DebugCRT_x86.msm" 
             SourceFile="$(env.ProgramFiles)\Common Files\Merge Modules\policy_9_0_Microsoft_VC90_DebugCRT_x86.msm"
             Language="1033" DiskId="1"/>
    </DirectoryRef>
    
    <DirectoryRef Id="JpegDir">
      <Component Id="c_jpeg.exe" Guid="{BF6AB836-F747-4b4d-B8F6-52779C115D71}">
        <File Id="f_jpeg.exe" KeyPath="yes" Source="Files\jpeg.exe"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="c_DesktopShortcut" Guid="$(var.DesktopShortcutGuid)">
        <Shortcut Id="AppDesktopShortcut" Name="$(var.FullProductName)" Target="[INSTALLLOCATION]TestTool.exe" Icon="AppIcon.exe" 
                  WorkingDirectory="INSTALLLOCATION"/>
        <RegistryValue Root="HKCU" Key="$(var.SoftwareRegKey)" Type="string" Value="" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="c_ProgramMenuShortcuts" Guid="$(var.ProgramMenuShortcutsGuid)">
        <Shortcut Id="AppProgramMenuShortcut" Name="$(var.FullProductName)" Target="[INSTALLLOCATION]TestTool.exe" Icon="AppIcon.exe"
                  WorkingDirectory="INSTALLLOCATION"/>
        <Shortcut Id="UninstallShortcut" Name="!(loc.UninstallText) $(var.FullProductName)" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="$(var.SoftwareRegKey)" Type="string" Value="" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AppDataManDir">
      <Component Id="c_RemoveAppDataManDir" Guid="{4C63141B-870C-4f21-98C5-60ECBC424DB3}">
        <RemoveFolder Id="AppDataManDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="$(var.SoftwareRegKey)" Type="string" Value="" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AppDataProductDir">
      <Component Id="c_RemoveAppDataProductDir" Guid="{A5DBF8CD-133E-4ffd-89FB-B0B9A5102C41}">
        <File Id="f_Requests.exe" Source="Files\Requests.exe"/>
        <RemoveFolder Id="AppDataProductDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="$(var.SoftwareRegKey)" Type="string" Value="" KeyPath="yes" />
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>