<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Feature Id="ProductFeature" Level="1">
      <ComponentRef Id="c_TestTool.exe" />
      <ComponentRef Id="c_TestTool.exe.config" />
      <ComponentRef Id="c_TestTool.HttpTransport.dll" />
      <ComponentRef Id="c_TestTool.HttpTransport.Interfaces.dll" />
      <ComponentRef Id="c_TestTool.Tests.Common.dll" />
      <ComponentRef Id="c_TestTool.Tests.Definitions.dll" />
      <ComponentRef Id="c_TestTool.Tests.Engine.dll" />
      <ComponentRef Id="c_TestTool.Tests.Engine.Base.dll" />
      <ComponentRef Id="c_TestTool.Tests.Proxies.dll" />
      <ComponentRef Id="c_TestTool.Tests.TestCases.dll" />
      <ComponentRef Id="c_Interop.QuartzTypeLib.dll" />
      <ComponentRef Id="c_itextsharp.dll" />
      <!--<ComponentRef Id="c_BouncyCastle.Crypto.dll" />-->
      <ComponentRef Id="c_ONVIFRTSPFilter.dll" />
      <ComponentRef Id="c_RTSPSimulator.dll" />
      <ComponentRef Id="c_onvifrtsp.dll" />
      <ComponentRef Id="c_ONVIF_Device_Test_Tool_Help.chm" />
      <ComponentRef Id="c_License.rtf" />
      <ComponentRef Id="c_readme.rtf" />
      <ComponentRef Id="c_BouncyCastle.rtf" />
      <ComponentRef Id="c_test.aac" />
      <ComponentRef Id="c_test.711" />
      <ComponentRef Id="c_video_480x360_fps30.264" />
      <ComponentRef Id="c_video_480x360_fps30.m4e" />
      <ComponentRef Id="c_video_640x480_fps15.264" />
      <ComponentRef Id="c_video_640x480_fps15.m4e" />
      <ComponentRef Id="c_ProgramMenuShortcuts" />
      <ComponentRef Id="c_DesktopShortcut" />
      <ComponentRef Id="c_jpeg.exe" />
      <ComponentRef Id="c_RemoveAppDataManDir" />
      <ComponentRef Id="c_RemoveAppDataProductDir" />
      <ComponentRef Id="c_UserRegistryFilter" />
      <ComponentRef Id="c_UserRegistryFfdshow" />
      <ComponentRef Id="c_UserRegistryFfdshowAudio" />
      <ComponentRef Id="c_LocalRegistryFilter" />
      <MergeRef Id="m_microsoft_vc90_debugcrt_x86.msm"/>
      <MergeRef Id="m_policy_9_0_Microsoft_VC90_DebugCRT_x86.msm"/>
    </Feature>
	</Fragment>
</Wix>