<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="c_UserRegistryFilter" Guid="{8D713B9C-3504-4399-A061-24D4AD7F46F2}">
        <RegistryValue Id="rv_UserFilter" Root="HKCU" Key="Software\Classes\.omsd" Name="Source Filter" Type="string"
                       Value="{547D37D7-1451-414e-BF20-706F38963B16}" Action="write" KeyPath="yes"/>
      </Component>
      <Component Id="c_UserRegistryFfdshow" Guid="{9D083E68-7C99-489f-B26B-8B4A7F44173B}">
        <RegistryKey Id="rk_ffdshow" Root="HKCU" Key="Software\GNU\ffdshow" Action="create" >
          <RegistryValue Id="rv_h264" Name="h264" Type="integer" Value="1" Action="write" KeyPath="yes"/>
          <RegistryValue Id="rv_isWhitelist" Name="isWhitelist" Type="integer" Value="0" Action="write" KeyPath="no"/>
          <RegistryValue Id="rv_mjpg" Name="mjpg" Type="integer" Value="1" Action="write" KeyPath="no"/>
          <RegistryValue Id="rv_mp4v" Name="mp4v" Type="integer" Value="1" Action="write" KeyPath="no"/>
          <RegistryValue Id="rv_mpegAVI" Name="mpegAVI" Type="integer" Value="1" Action="write" KeyPath="no"/>
        </RegistryKey>
      </Component>
      <Component Id="c_UserRegistryFfdshowAudio" Guid="{E07DFE41-9E98-440c-9A5C-9427E9BEEB1F}">
        <RegistryKey Id="rk_ffdshow_audio" Root="HKCU" Key="Software\GNU\ffdshow_audio" Action="create">
          <RegistryValue Id="rv_aac" Name="aac" Type="integer" Value="8" Action="write" KeyPath="yes"/>
          <RegistryValue Id="rv_isWhitelistAudio" Name="isWhitelist" Type="integer" Value="0" Action="write" KeyPath="no"/>
          <RegistryValue Id="rv_law" Name="law" Type="integer" Value="1" Action="write" KeyPath="no"/>
          <RegistryValue Id="rv_mp3" Name="mp3" Type="integer" Value="1" Action="write" KeyPath="no"/>
          <RegistryValue Id="rv_otherAdpcm" Name="otherAdpcm" Type="integer" Value="1" Action="write" KeyPath="no"/>
        </RegistryKey>
      </Component>
      <Component Id="c_LocalRegistryFilter" Guid="{C8350F47-BB52-45a6-8C96-F5C5867F6C25}">
        <RegistryValue Id="rv_LocalFilter" Root="HKLM" Key="Software\Classes\Media Type\Extensions\.omsd" Name="Source Filter" Type="string"
                       Value="{547D37D7-1451-414e-BF20-706F38963B16}" Action="write" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>