<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Feature Id="ProductFeature" Title="ClientTestTool" Level="1">
      <ComponentRef Id ="ProductComponent" />
      <ComponentRef Id ="LibComponent"/>
      <ComponentRef Id ="StylesheetsComponent"/>
      <ComponentRef Id ="DocsComponent"/>
      <ComponentRef Id ="OutputComponent"/>
      <ComponentRef Id ="ApplicationShortcutCTT" />
      <ComponentRef Id ="DesktopShortcut" />
    </Feature>
	</Fragment>
</Wix>