<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION" FileSource="$(var.ClientTestTool.TargetDir)">
      <Component Id="ProductComponent" Guid="BD55C97F-B74B-4FB5-954C-0170BFD684CE" DiskId="1">
        <File Id="CTT" Name="ClientTestTool.exe" />
        <File Id="Fonet" Name ="Fonet.dll"/>
        <RemoveFolder Id="INSTALLLOCATION" On="uninstall"/>
      </Component>

      <Directory Id="DesktopFolder"/>

      <Directory Id="dir22220812C7AC33502F0299F17FF5423D" Name="Lib">
        <Component Id="LibComponent" Guid="{3A9CA824-EA54-4E9A-81D0-6254A54C0E49}">
          <File Id="fil71773E35126FEC4FF3902CC7ED743C70" Name="comerr32.dll" />
          <File Id="fil0487348187001A88F82A03747006A3C3" Name="k5sprt32.dll" />
          <File Id="fil1FA94C10DA077E7B3FBFED18CBD33947" Name="krb5_32.dll" />
          <File Id="fil62B7233AE9EBB7661159D16D31D023EF" Name="libcares-2.dll" />
          <File Id="fil966E0205F3A8B7633C73216A0EE84233" Name="libgcrypt-11.dll" />
          <File Id="fil25913B258FA8A58BD9FC107E6DC80BC7" Name="libGeoIP-1.dll" />
          <File Id="fil87E7C82D3D7E1360BE920ED9BEBF26D3" Name="libglib-2.0-0.dll" />
          <File Id="filC668BF45B19E46938D099FBDF3AFF830" Name="libgmodule-2.0-0.dll" />
          <File Id="fil940B51E916B208F7CF82CE3C29381B9F" Name="libgnutls-26.dll" />
          <File Id="fil22AC930014A9552F60379652A1C18F9F" Name="libgpg-error-0.dll" />
          <File Id="fil9EF5C9D1523B3E417007DB7837EFF543" Name="libintl-8.dll" />
          <File Id="filA2FEF7A9923E8337C2C6532C5359B548" Name="libsmi-2.dll" />
          <File Id="fil8E4E7A3C1717F3807872D38B73A08B62" Name="libtasn1-3.dll" />
          <File Id="fil2DFFF2400C55258A575E76B2B3EB9901" Name="libwireshark.dll" />
          <File Id="filF72050448836262C34FBAF2C44A093EB" Name="libwsutil.dll" />
          <File Id="filE077C5EBF8C1BD79848ABD583C982679" Name="lua5.1.dll" />
          <File Id="fil8A0207B953762AC7980D849F4F042C9A" Name="tshark.exe" />
          <File Id="fil72E5646D3EF5921BA7AAFBF8F51DED41" Name="wiretap-1.10.0.dll" />
          <File Id="fil5E12DF3FC066FA677253B8077AA37C09" Name="zlib1.dll" />
        </Component>
      </Directory>

      <Directory Id="stylesheetsDir" Name="Stylesheets">
        <Component Id="StylesheetsComponent" Guid="52DC97D5-B087-4570-8B2D-2890809F4130">
            <File Id="docLogo"           Name="onvif_doc_template_logo.jpg"/>
            <File Id="docTemplate"       Name="doc_template.fo"/>
            <File Id="docErrataTemplate" Name="doc_errata_template.fo"/>
      </Component>
      </Directory>

      <Directory Id="docs" Name="Docs">
        <Component Id="DocsComponent" Guid="FAFE1F2D-834B-4FEC-945A-101F78FBD587">
          <File Id="userManual" Name="ONVIF Client Test Tool Help.chm"/>
          <File Id="license"    Name="License.rtf"/>
        </Component>
      </Directory>

      <Directory Id="OutputDir" Name="output">
            <Component Id="OutputComponent" Guid="6E703AAB-1349-433F-B211-8E629FA60A34">
              <CreateFolder Directory="OutputDir">
                <util:PermissionEx User="Users" GenericAll ="yes"/>
              </CreateFolder>
            </Component>
          </Directory>
          
    </DirectoryRef>
  </Fragment>
</Wix>