<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir22220812C7AC33502F0299F17FF5423D" Name="lib">
                <Component Id="cmpC73FEB248FC38852262C81F018E422B2" Guid="{3A9CA824-EA54-4E9A-81D0-6254A54C0E49}">
                    <File Id="fil62B7233AE9EBB7661159D16D31D023EF" KeyPath="yes" Source="SourceDir\libcares-2.dll" />
                </Component>
                <Component Id="cmpDB46EB6FA0E2CC748BCDD8CBA8C4C7F8" Guid="{A08A819D-B266-49C2-8290-C85B0FCF0E07}">
                    <File Id="fil966E0205F3A8B7633C73216A0EE84233" KeyPath="yes" Source="SourceDir\libgcrypt-11.dll" />
                </Component>
                <Component Id="cmp53C5E833746D4537CB4C36149F52363B" Guid="{73CC2F5F-E55E-491E-8450-07EF44F9D12A}">
                    <File Id="fil25913B258FA8A58BD9FC107E6DC80BC7" KeyPath="yes" Source="SourceDir\libGeoIP-1.dll" />
                </Component>
                <Component Id="cmpD5DEA0977C2A8FE0CB15F29173E30AA2" Guid="{D6B55EFB-B020-40D7-AE3D-8C64E6E97FA9}">
                    <File Id="fil87E7C82D3D7E1360BE920ED9BEBF26D3" KeyPath="yes" Source="SourceDir\libglib-2.0-0.dll" />
                </Component>
                <Component Id="cmp497A52FB437669A367D912FE63FFD03E" Guid="{69118247-2778-4603-8801-77C3A9A688EF}">
                    <File Id="filC668BF45B19E46938D099FBDF3AFF830" KeyPath="yes" Source="SourceDir\libgmodule-2.0-0.dll" />
                </Component>
                <Component Id="cmp7894A433B5E6424154EB5A79519D3FEA" Guid="{F846C734-B5D7-43EC-8177-31229FC35D00}">
                    <File Id="fil940B51E916B208F7CF82CE3C29381B9F" KeyPath="yes" Source="SourceDir\libgnutls-26.dll" />
                </Component>
                <Component Id="cmp4B21A282CDFEABA7DCCC0F6389087DD0" Guid="{57D86338-F612-4B62-A232-0C33073F2CE2}">
                    <File Id="fil22AC930014A9552F60379652A1C18F9F" KeyPath="yes" Source="SourceDir\libgpg-error-0.dll" />
                </Component>
                <Component Id="cmpDE34DF64A8768C0AC83A275AE00B6642" Guid="{A7438DD6-B713-49F5-8594-D11152F0EAC1}">
                    <File Id="fil9EF5C9D1523B3E417007DB7837EFF543" KeyPath="yes" Source="SourceDir\libintl-8.dll" />
                </Component>
                <Component Id="cmp3CCD025B81E04F2DE553BB68FD2F2CB4" Guid="{4B8837F3-1752-4DBC-A710-BDC0EC6F3585}">
                    <File Id="filA2FEF7A9923E8337C2C6532C5359B548" KeyPath="yes" Source="SourceDir\libsmi-2.dll" />
                </Component>
                <Component Id="cmpECCA560687CEC6F2064F1D205CC6291C" Guid="{5BC51523-2E79-4331-95A3-397066CD21C5}">
                    <File Id="fil8E4E7A3C1717F3807872D38B73A08B62" KeyPath="yes" Source="SourceDir\libtasn1-3.dll" />
                </Component>
                <Component Id="cmpE0373142C561999BAAA7B28A73F510A1" Guid="{FE645CE6-0422-4607-A26E-3E05730F74D9}">
                    <File Id="fil2DFFF2400C55258A575E76B2B3EB9901" KeyPath="yes" Source="SourceDir\libwireshark.dll" />
                </Component>
                <Component Id="cmp26E274AF32D98556B9F3BF03C0351CE7" Guid="{2D53826E-FE36-426A-A3E1-2A706AD29D41}">
                    <File Id="filF72050448836262C34FBAF2C44A093EB" KeyPath="yes" Source="SourceDir\libwsutil.dll" />
                </Component>
                <Component Id="cmp20D0CAB70325D127E99AE2DB816D4245" Guid="{9188A6D2-EB81-40BE-8177-2AD9FE7C014B}">
                    <File Id="filE077C5EBF8C1BD79848ABD583C982679" KeyPath="yes" Source="SourceDir\lua5.1.dll" />
                </Component>
                <Component Id="cmp8D3238C7AF7E9CE00F2E26128189D4AA" Guid="{567759A3-8279-4935-8796-066283045BE0}">
                    <File Id="fil8A0207B953762AC7980D849F4F042C9A" KeyPath="yes" Source="SourceDir\tshark.exe" />
                </Component>
                <Component Id="cmp7DBA287C68CCDF05646D34FA3E28AC38" Guid="{B5B886F9-821E-450A-9FD5-EACF16C6C59E}">
                    <File Id="fil72E5646D3EF5921BA7AAFBF8F51DED41" KeyPath="yes" Source="SourceDir\wiretap-1.10.0.dll" />
                </Component>
                <Component Id="cmp8CFF605AC5AAC3F8AA52D5AE6F88530F" Guid="{5B6C29A7-80B1-4A99-A0CC-A67FA10A8BDC}">
                    <File Id="fil5E12DF3FC066FA677253B8077AA37C09" KeyPath="yes" Source="SourceDir\zlib1.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>