<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DoorControlService" value="http://localhost:58241/ServiceDoorControl10/DoorControlService.asmx"/>
    <add key="EventControlService" value="http://localhost:58241/BackDoorServices/EventControlService.asmx"/>
    <add key="LoggingService" value="http://localhost:58241/BackDoorServices/LoggingService.asmx"/>
    <add key="ConfigurationService" value="http://localhost:58241/BackDoorServices/ConfigurationService.asmx"/>
    <add key="PacsService" value="http://localhost:58241/ServicePACS10/PACSService.asmx"/>
    <add key="EventsService" value="http://localhost:58241/ServiceEvents10/EventService.asmx"/>
    <add key="SensorService" value="http://localhost:58241/BackDoorServices/SensorService.asmx"/>
    <add key="MonitorService" value="http://localhost:58241/BackDoorServices/MonitorService.asmx"/>
    <add key="CredentialService" value="http://localhost:58241/ServiceCredential10/CredentialService.asmx"/>
    <add key="AccessRulesService" value="http://localhost:58241/ServiceAccessRules/AccessRulesService.asmx"/>
    <add key="ScheduleService" value="http://localhost:58241/ServiceSchedule10/ScheduleService.asmx"/>

    <add key="LogReceiver" value="http://localhost:8080/SMC/Logger"/>
    <add key="EventsReceiver" value="http://localhost:8181/SMC/Events"/>
    <add key="StateReceiver" value="http://localhost:8282/SMC/StateReceiver"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
