<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics>
    <switches>
      <add name="EqtTraceLevel" value="4" />
    </switches>
  </system.diagnostics>-->
  <appSettings>
    <!--<add key="ToolExePath" value="D:\ProgrammFiles\ONVIF CTT\ClientTestTool.exe" />-->
    <!--<add key="ToolExePath" value="d:\Program Files\CTT\ClientTestTool.exe" />-->
    
    <add key="ToolExePath" value="C:\Program Files (x86)\ONVIF Client Test Tool\ClientTestTool.exe" />
    <add key="LogFileFolderPath" value="\\nov-fs01\ONVIF\AutoTesting\TestReports\" />
    
    <add key="SingleFileSet" value="true" />
    
<!--!!File Set List!!-->
    <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Streaming\VIDEOSTREAMING_TestSet.xml" />-->
  <!--testing set -->
        <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\Test-1_TestFile.xml" />-->
    
    <!--AudioBackchannelStreaming-->
        <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\AudioBackchannelStreaming_TestSetList.xml" />-->
    
 <!--Profile S-->
    <!--Media, Viveo and Audio Streaming-->
        <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\AllStreaming_TestSetList.xml" />-->
    <!--Video Source and Encoder Configurations-->
        <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\VideoEncoderConfiguratios_TestSetList.xml" />-->
    <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\VideoSourceConfiguratios_TestSetList.xml" />-->
 <!--Profile G-->
        <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\ProfileG_TestSetList.xml" />-->
    <!--Track Configuration-->
        <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\ProfileG_TrackConfiguration_TestSetList.xml" />-->
    <!--Recording Control-->
        <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\ProfileG_RecordingControl_TestSetList.xml" />-->
    
  <!--Advanced Security-->
        <!--<add key="TestSetListFilePath" value="\\nov-fs01\ONVIF\AutoTesting\Advanced Security_TestSetList.xml" />-->
    
<!--!!Single File Set!!-->    
<!--==Test File==-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\AutoTesting\Test-1.xml" />-->
    
<!--==Audio Backchannel Streaming==-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Audio Backchannel\Streaming\AUDIOBACKCHANNELSTREAMING-1\AUDIOBACKCHENNELSTREAMING-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Audio Backchannel\Streaming\AUDIOBACKCHANNELSTREAMING-2\AUDIOBACKCHENNELSTREAMING-2_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Audio Backchannel\Streaming\AUDIOBACKCHANNELSTREAMING-3\AUDIOBACKCHENNELSTREAMING-3_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Audio Backchannel\Streaming\AUDIOBACKCHANNELSTREAMING-4\AUDIOBACKCHENNELSTREAMING-4_TestSet.xml" />-->
    
<!--==Profile S==-->
    <!--Streaming-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Audio Streaming\AUDIOSTREAMING_TestSet.xml" />-->   
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Streaming\VIDEOSTREAMING_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Streaming\VIDEOSTREAMING_Feature_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Media Streaming\VIDEO_AND_AUDIO_STREAMING_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Multiple Video Sources\MULTIPLEVIDEOSOURCES-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Multiple Audio Sources\MULTIPLEAUDIOSOURCES-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\#128 Update for check of RTSP TEARDOWN response\Ticket_128_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\STREAMING_GENERAL_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Multicast Streaming\MULTICASTSTREAMING-2\MULTICASTSTREAMING-2_TestSet.xml" />-->

    <!--Video Encoder Configurations-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Encoder Configurations\VIDEOENCODERCONFIGURATIONS-3\VIDEOENCODERCONFIGURATIONS-3_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Encoder Configurations\VIDEOENCODERCONFIGURATIONS-4\VIDEOENCODERCONFIGURATIONS-4_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Encoder Configurations\VideoEncoderConfigurations_Feature_TestSet.xml" />-->
    
    <!--Video Source Configurations-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Source Configurations\VideoSourceConfigurations_Feature_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Source Configurations\VIDEOSOURCECONFIGURATIONS-3\VIDEOSOURCECONFIGURATIONS-3_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Source Configurations\VIDEOSOURCECONFIGURATIONS-4\VIDEOSOURCECONFIGURATIONS-4_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Source Configurations\VIDEOSOURCECONFIGURATIONS-5\VIDEOSOURCECONFIGURATIONS-5_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Video Source Configurations\VIDEOSOURCECONFIGURATIONS-6\VIDEOSOURCECONFIGURATIONS-6_TestSet.xml" />-->

    <!--PTZ-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\PTZ Continuous Positioning\PTZCONTINUOUSPOSITIONING-4\PTZCONTINUOUSPOSITIONING-4_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\PTZ Continuous Positioning\PTZ Continuous Positioning_Feature_TestSet.xml" />-->
    
<!--==Profile G==-->
    <!--Dynamic Recording Configuration-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Dynamic Recording Configurations\DYNAMICRECORDINGCONFIGURATIONS-1\DYNAMICRECORDINGCONFIGURATIONS-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Dynamic Recording Configurations\DYNAMICRECORDINGCONFIGURATIONS-2\DYNAMICRECORDINGCONFIGURATIONS-2_TestSet.xml" />-->
        <!--DEBUG REQUIERED-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Dynamic Recording Configurations\DYNAMICRECORDINGCONFIGURATIONS-3\DYNAMICRECORDINGCONFIGURATIONS-3_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Dynamic Recording Configurations\DYNAMICRECORDINGCONFIGURATIONS-4\DYNAMICRECORDINGCONFIGURATIONS-4_TestSet.xml" />-->
        <!--DEBUG REQUIERED END-->

    <!--Track Configuration-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Track Configuration\TRACKCONFIGURATION-1\TRACKCONFIGURATION-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Track Configuration\TRACKCONFIGURATION-2\TRACKCONFIGURATION-2_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Track Configuration\TRACKCONFIGURATION-3\TRACKCONFIGURATION-3_TestSet.xml" />-->

    <!--Recording Control-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Control\RECORDINGCONTROL-1\RECORDINGCONTROL-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Control\RECORDINGCONTROL-2\RECORDINGCONTROL-2_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Control\RECORDINGCONTROL-3\RECORDINGCONTROL-3_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Control\RECORDINGCONTROL-4\RECORDINGCONTROL-4_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Control\RECORDINGCONTROL-5\RECORDINGCONTROL-5_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Control\RECORDINGCONTROL-6\RECORDINGCONTROL-6_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Control\RECORDINGCONTROL-7\RECORDINGCONTROL-7_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Control\RECORDINGCONTROL-8\RECORDINGCONTROL-8_TestSet.xml" />-->

    <!--Recording Configuration-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Configuration\RECORDINGCONFIGURATION-1\RECORDINGCONFIGURATION-1_TestSet.xml" />-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Configuration\RECORDINGCONFIGURATION-2\RECORDINGCONFIGURATION-2_TestSet.xml" />-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Configuration\RECORDINGCONFIGURATION-3\RECORDINGCONFIGURATION-3_TestSet.xml" />-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Configuration\RECORDINGCONFIGURATION-4\RECORDINGCONFIGURATION-4_TestSet.xml" />-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Configuration\RECORDINGCONFIGURATION-5\RECORDINGCONFIGURATION-5_TestSet.xml" />-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile G\Recording Configuration\RECORDINGCONFIGURATION-6\RECORDINGCONFIGURATION-6_TestSet.xml" />-->

<!--==Profile C==-->
    <!--Access Control Decisions-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-1\ACCESSCONTROLDECISIONS-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-2\ACCESSCONTROLDECISIONS-2_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-3\ACCESSCONTROLDECISIONS-3_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-4\ACCESSCONTROLDECISIONS-4_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-5\ACCESSCONTROLDECISIONS-5_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-6\ACCESSCONTROLDECISIONS-6_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-7\ACCESSCONTROLDECISIONS-7_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-8\ACCESSCONTROLDECISIONS-8_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\ACCESSCONTROLDECISIONS-9\ACCESSCONTROLDECISIONS-9_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Access Control Decisions\AccessControlDecisions_Feature_TestSet.xml" />-->
    <!--System Component State-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\System Component State\SystemComponentState_Feature_TestSet.xml" />-->
    <!--Configuration Change Notifications-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Configuration Change Notifications\ConfigurationChangeNotifications_Feature_TestSet.xml" />-->
    <!--Duress Notifications-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Duress Notifications\DuressNotifications_Feature_TestSet.xml" />-->

    
<!--==Core==-->
    <!--Event Handling-->    
         <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\Event Handling\EVENTHANDLING-3\EVENTHANDLING-3_TestSet.xml" />-->    
    <!--System Backup via HTTP-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\HTTP System Backup\HTTPSYSTEMBACKUP-1\HTTPSYSTEMBACKUP-1_TestSet.xml" />-->    
     <!--NTP-->
         <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\NTP\NTP_TestSet.xml" />-->    
     <!--Zero Configuration-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\Zero Configuration\ZeroConfiguration_TestSet.xml" />-->    
    <!--Capabilities-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\Capabilities\CAPABILITIES-1_TestSet.xml" />-->    
    <!--Monitoring Notifications-->
      <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\Monitoring Notifications\MonitoringNotifications_Feature_TestSet.xml" />-->  
    <!--Device Management Notifications-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\Device Management Notifications\DeviceManagementNotifications_Feature_TestSet.xml" />-->
    <!--Hostname Configuration-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\Hostname Configuration\HostnameConfiguration_TestSet.xml" />-->
    <!--DNS Configuration-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\DNS Configuration\DNSConfiguration_TestSet.xml" />-->    
    <!--Network Protocols Configuration-->
       <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Core\Network Protocols Configuration\NetworkProtocolsConfiguration_TestSet.xml" />-->
    
<!--==Conformance==-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile S\Conformance\Profile_S_Conformance_TestSet.xml" />-->
        
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile C\Conformance\Profile_C_Conformance_TestSet.xml" />-->
    
<!--==Advanced Security==-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Advanced Security Test Cases\TLSCONFIGURATION-10\TLSCONFIGURATION-10_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Advanced Security Test Cases\TLSCONFIGURATION-11\TLSCONFIGURATION-11_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Advanced Security Test Cases\TLSCONFIGURATION-12\TLSCONFIGURATION-12_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Advanced Security Test Cases\TLSCONFIGURATION-13\TLSCONFIGURATION-13_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Advanced Security Test Cases\TLSCONFIGURATION-14\TLSCONFIGURATION-14_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Advanced Security Test Cases\TLSConfiguration_Feature_TestSet.xml" />-->
   
<!--==Imaging==-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Imaging\Imaging Settings Configuration\SETIMAGINGSETTINGS-2\SETIMAGINGSETTINGS-2_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Imaging\Imaging Settings Configuration\ImagingSettingsConfiguration_Feature_TestSet.xml" />-->
    
<!--==Profile A==-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile A\Get Access Profiles Details\GETACCESSPROFILEDETAILS-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile A\Reset Antipassback Violation\RESETANTIPASSBACKVIOLATION-1\RESETANTIPASSBACKVIOLATION-1_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile A\Credential Configuration and State Notifications\CredentialsNotifications_Feature_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile A\Schedule Configuration Notifications\ScheduleNotifications_Feature_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile A\Access Profile Configuration Notifications\AccessProfileNotifications_Feature_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile A\Get Schedule State\GetScheduleState_Feature_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile A\Antipassback Violations notification\AntipassbackViolationsNotification_Feature_TestSet.xml" />-->
        <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile A\Special Days Configuration Notifications\SpecialDaysConfigurationNotifications _Feature_TestSet.xml" />-->
        
 <!--==Profile T==-->
    <add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile T\PTZ Using Media2\PTZ Using Media2 Absolute Positioning\PTZUSINGMEDIA2ABSOLUTEPOSITIONING-1\PTZUSINGMEDIA2ABSOLUTEPOSITIONING-1_TestSet.xml" />
    <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile T\PTZ Using Media2\PTZ Using Media2 Absolute Positioning\PTZUSINGMEDIA2ABSOLUTEPOSITIONING-2\PTZUSINGMEDIA2ABSOLUTEPOSITIONING-2_TestSet.xml" />-->
    <!--<add key="TestSetFilePath" value="\\nov-fs01\ONVIF\Profile T\PTZ Using Media2\PTZ Using Media2 Absolute Positioning\PTZUSINGMEDIA2ABSOLUTEPOSITIONING-3\PTZUSINGMEDIA2ABSOLUTEPOSITIONING-3_TestSet.xml" />-->
  
  </appSettings>
</configuration>